<template>
  <div class="teams-container">
    <div v-for="team in data.teams">
      <Team :team="team"></Team>
    </div>
  </div>
</template>

<script>

  import jsonData from "../data/jsonData";
  import Team from "./Team";

export default {
    name: 'homepage',
    components: {
        'Team': Team
    },
  data () {
    return {
      data: jsonData
    }
  }
}
</script>

<style>
  .teams-container{
    text-align: center;
    padding: 50px;
  }

  /* Smartphones (portrait and landscape) ----------- */
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px) {
    /* Styles */
  }

  /* Smartphones (landscape) ----------- */
  @media only screen
  and (min-width: 321px) {
    /* Styles */
  }

  /* Smartphones (portrait) ----------- */
  @media only screen
  and (max-width: 320px) {
    /* Styles */
  }

  /* iPads (portrait and landscape) ----------- */
  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px) {
    /* Styles */
  }

  /* iPads (landscape) ----------- */
  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape) {
    /* Styles */
  }

  /* iPads (portrait) ----------- */
  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait) {
    /* Styles */
  }

  /* Desktops and laptops ----------- */
  @media only screen
  and (min-width: 1224px) {
    /* Styles */
  }

  /* Large screens ----------- */
  @media only screen
  and (min-width: 1824px) {
    /* Styles */
  }

  /* iPhone 4 ----------- */
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    /* Styles */
  }
</style>
