<template>
    <div>
        {{riotPlayers}}
    </div>
</template>

<script>
    import fetch from 'node-fetch';

    export default {
        name: "team-players",
        props: ['team'],
        data(){
            return{
                riotPlayers: []
            }
        },
        methods:{
            toggleExpand: function(){
                this.isExpanded = !this.isExpanded
            },
            getPlayers: function(playerName, playerRegion){
                let options = {
                    method: 'POST',
                    body: JSON.stringify({ playerName: playerName, playerRegion: playerRegion }),
                    headers: new Headers({ "Content-Type": "application/json" })
                };

                fetch('http://localhost:3000/api/find-player-id', options)
                    .then(res => res.json())
                    .then(json => this.getChamps(json, playerRegion))
            },
            getChamps: function(player, playerRegion){
                player.champs = [];

                let options = {
                    method: 'POST',
                    body: JSON.stringify({ playerId: player.id, playerRegion: playerRegion }),
                    headers: new Headers({ "Content-Type": "application/json" })
                };

                fetch('http://localhost:3000/api/find-player-champs', options)
                    .then(res => res.json())
                    .then(json => {
                        console.log(json);
                        for(var i=0; i<6; i++){
                            player.champs.push(json[i]);
                        }
                    })

                this.riotPlayers.push(player);
            }
        },
        created(){
            console.log(this.team.players);
            let count = 0,
                getPlayersInterval = setInterval(function(){
                    this.getPlayers(this.team.players[count].playerName,this.team.players[count].playerRegion);
                    count++;

                    if(count > 4) clearInterval(getPlayersInterval);
            }.bind(this), 500);
            getPlayersInterval;
        }
    }
</script>

<style scoped>
    .team-box-container{
        padding: 10px;
    }

    .team-button{
        background-color: lightskyblue;
        padding: 20px;
        font-size: 1.5em;
    }

    .team-description-container{
        text-align: left;
        padding: 10px;
    }

    .title{
        text-decoration: underline;
        font-size: 1.5em;
    }

    .info{
        padding: 0 10px 0 0;
    }

    .match-container{
        padding: 10px;
    }
</style>