<template>
    <div class="team-box-container">
        <TeamPlayers :team="team"></TeamPlayers>
        <!--<div class="team-button" @click="toggleExpand">-->
            <!--{{team.name}}-->
        <!--</div>-->

        <!--<div class="team-description-container" v-if="isExpanded">-->

            <!--<TeamPlayers :team="team"></TeamPlayers>-->

            <!--<div class="title">Previous Tournament Matches</div>-->
            <!--<div class="match-container" v-for="match in team.matches">-->
                <!--<div>-->
                    <!--<span class="info">Date: {{match.date}}</span>-->
                    <!--<span class="info">Enemy: {{match.enemy}}</span>-->
                    <!--<span class="info">Victory: {{match.victory}}</span>-->
                <!--</div>-->
                <!--<div>-->
                    <!--Picks: <span class="info" v-for="pick in match.picks">{{pick.name}}</span>-->
                <!--</div>-->
                <!--<div>-->
                    <!--Bans: <span class="info" v-for="ban in match.bans">{{ban.name}}</span>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</template>

<script>
    import TeamPlayers from './TeamPlayers';

    export default {
        name: "team",
        components: {
            'TeamPlayers': TeamPlayers
        },
        props: ['team'],
        data(){
            return{
                isExpanded: false
            }
        },
        methods:{
            toggleExpand: function(){
                this.isExpanded = !this.isExpanded
            }
        }
    }
</script>

<style scoped>
    .team-box-container{
        padding: 10px;
    }

    .team-button{
        background-color: lightskyblue;
        padding: 20px;
        font-size: 1.5em;
    }

    .team-description-container{
        text-align: left;
        padding: 10px;
    }

    .title{
        text-decoration: underline;
        font-size: 1.5em;
    }

    .info{
        padding: 0 10px 0 0;
    }

    .match-container{
        padding: 10px;
    }
</style>